* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}
.navbar{
    display:left;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: brown;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #c00202;
}
.header{
    position: relative;
    background: url('../images/Restaurants.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;

    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 98%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 98%);
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% black overlay */
    z-index: 1;
}
.header .row{
    margin-top: 70px;
}
.header .container {
    position: relative;
    z-index: 2;
}
.categories .row{
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to next line */
    justify-content: space-between; /* Add space between images */
    gap: 20px; /* Optional: space between items */
    padding: 20px;
}
.col-3 {
    font-family: "Comic Relief", system-ui;
    text-align: center;
    flex: 1;
    max-width: 33.33%;
    padding: 10px;
}
.col-3 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}
.col-3 .h4{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #333;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.small-container{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 50px 0;
    color: #333;
}
.small-container .row{
    display: flex;
    flex-wrap: wrap; /* Allows wrapping if the screen is smaller */
    gap: 20px; /* Optional spacing between items */
    justify-content: center;
}
.col-4{
    font-family: "Comic Relief", system-ui;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: black;
    letter-spacing: 1px;
    margin-top: 10px;
    transition: transform 0.3s ease;
}
.col-4 img{
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
}
.col-4 h4{
    text-align: center;
}
.col-4 p{
    font-size: 12px;
    text-align: center;
    color: #555;
    margin-top: 5px;
}
.col-4:hover{
    transform: scale(1.02);
}
.rating {
    color: green;
    text-align: center;
    margin-left: 0;
    font-size: 12px;
}
.menu-icon{
    width: 30px;
    margin-left: 20px;
}



/*media query for menu*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
/*All products */
.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 50px auto 80px;
    text-align: center;

}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: brown;
    color: white;
}


/*media query for less than 600 screen size*/
@media only screen and (max-width: 600px){
    .row {
        flex-direction: column;
        align-items: center;
    }

    .col-3, .col-4 {
        max-width: 90%;
        flex-basis: 90%;
        text-align: center;
    }

    .col-4 img, .col-3 img {
        margin: 0 auto;
    }

    .rating, .col-4 p {
        text-align: center;
    }
}